html {
  color: #1d2a34;
}

body {
  background-color: #75a1bb;
}

.App-header {
  background-color: #5485a3;
  width: 100%;
  height: 95vh;
}

.App-navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  padding-right: 20px;
  text-decoration: none;
  height: 5vh;
  align-items: center;
  background-color: #406a86;
  color: #cfdee8;
}

.App-main {
  height: 100vh;
}
